CompileFlags:
  CompilationDatabase: build/debug
  Add:
    - -Iinclude
    - -Ibuild/debug/generated/include
    - -I.cache/deps/x86_64-linux-gnu/lonejson/include
    - -std=c90
Diagnostics:
  UnusedIncludes: None
